.banner-slide {
	position: relative;
	background: #fefce3;
	.banner-percent {
		border-radius: 0.4rem;
		padding-bottom: 2rem;
	}
	.banner-slide-combo-wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1.2rem;
		width: 100%;
	}
	.banner-slide-combo {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
		background: #261e17;
		padding: 4rem 2rem;
		border: 1px solid #a27d6d;
		border-radius: 1.2rem;
		@media (max-width: 1200px) {
			gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 576px) {
			grid-template-columns: repeat(2, 1fr);
		}
		&-title {
			text-align: center;
			font-size: 3.2rem;
			background: linear-gradient(90deg, #14100d, #afa7a4);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			font-weight: 700;
			line-height: 1.2;
			margin: 1.2rem 0;
			@media (max-width: 992px) {
				font-size: 2.4rem;
			}
		}
		&-card {
			border-radius: 2rem;
			border: 2px solid #d09e7b;
			padding: 3.2rem 0.8rem 0.8rem 0.8rem;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.4rem;
			position: relative;
			width: 100%;
		}
		&-header {
			position: absolute;
			top: 10%;
			right: 0;
			transform: translate(-50%, 50%);
			.combo-txt {
				font-size: 1.2rem;
				background: #c3011c;
				padding: 0.4rem;
				border-radius: 0.4rem;
				color: white;
				font-weight: 500;
				display: flex;
				align-items: center;
				gap: 0.4rem;
			}
		}
		&-button {
			font-size: 1.8rem;
			background: linear-gradient(360deg, #d09e7b, #f3eae6);
			padding: 0.8rem 1.2rem;
			border-radius: 3.2rem;
			color: #3c2313;
			font-weight: 600;
			// border: 2px solid #fdb414;
			position: absolute;
			width: 80%;
			display: flex;
			justify-content: center;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			@media (max-width: 1200px) {
				font-size: 1.6rem;
				width: max-content;
			}
			@media (max-width: 768px) {
				font-size: 1.2rem;
			}
		}
		&-image {
			width: 20rem;
			height: 20rem;
			scale: 0.9;
			transition: all 0.5s ease-in-out;
			@media (max-width: 766px) {
				width: 10rem;
				height: 10rem;
			}
			&:hover {
				scale: 1;
			}
		}
		&-reduced {
			display: flex;
			align-items: center;
			gap: 2rem;
			width: 100%;
			justify-content: flex-end;
			margin-right: 4rem;
			&-pirce {
				text-decoration-line: line-through;
				color: white;
				font-size: 1.8rem;
			}
		}
		&-price {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			&-sub {
				font-size: 2rem;
				color: white;
				@media (max-width: 992px) {
					font-size: 1.4rem;
				}
			}
			&-txt {
				font-size: 3.2rem;
				background: linear-gradient(360deg, #d09e7b, #f3eae6);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				font-weight: 600;
				@media (max-width: 992px) {
					font-size: 2.4rem;
				}
			}
		}
	}
	.banner-slide-combo15 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 3.2rem;
		padding: 4rem 2rem;
		border-radius: 1.2rem;
		@media (max-width: 1200px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 576px) {
			grid-template-columns: repeat(1, 1fr);
		}
		&-card {
			border-radius: 2rem;
			border: 2px solid #f47700;
			padding: 3.2rem 0.8rem 0.8rem 0.8rem;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.4rem;
			position: relative;
			width: 100%;
		}
		&-header {
			position: absolute;
			top: 10%;
			right: 0;
			transform: translate(-50%, 50%);
			.combo-txt {
				font-size: 1.2rem;
				background: #c3011c;
				padding: 0.4rem;
				border-radius: 0.4rem;
				color: white;
				font-weight: 500;
				display: flex;
				align-items: center;
				gap: 0.4rem;
			}
		}
		&-button {
			font-size: 1.8rem;
			background: #ff0000;
			padding: 0.8rem 2rem;
			border-radius: 3.2rem;
			color: #ffe220;
			font-weight: 600;
			position: absolute;
			width: 80%;
			display: flex;
			justify-content: center;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			border: 2px solid #ffe220;
			@media (max-width: 1200px) {
				font-size: 1.6rem;
				width: max-content;
			}
			@media (max-width: 768px) {
				font-size: 1.2rem;
			}
		}
		&-image {
			width: 20rem;
			height: 20rem;
			scale: 0.9;
			transition: all 0.5s ease-in-out;
			&:hover {
				scale: 1;
			}
		}
		&-price {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			justify-content: center;
			margin-top: 1.2rem;
			&-sub {
				font-size: 2rem;
				color: white;
				@media (max-width: 992px) {
					font-size: 1.4rem;
				}
			}
			&-txt {
				font-size: 3.2rem;
				background-clip: text;
				color: #ff0000;
				font-weight: 600;
				@media (max-width: 992px) {
					font-size: 2.4rem;
				}
			}
		}
	}

	.banner-swiper {
		padding: 2rem 0;
		.swiper {
			width: 100%;
			height: 100%;
			position: relative;

			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				top: 60%;
				transform: translateY(-50%);
				z-index: 10;
				width: 4rem;
				height: 4rem;
				background-color: rgba(0, 0, 0, 0.5);
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 0.4rem;
				cursor: pointer;
				transition: transform 0.5s ease;

				&:before {
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0.6rem 0.6rem 0.6rem 0;
					border-color: transparent white transparent transparent;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
				}
			}

			&:hover .swiper-button-prev {
				transform: translateY(-50%) translateX(0);
			}

			&:hover .swiper-button-next {
				transform: translateY(-50%) translateX(0);
			}

			.swiper-button-prev {
				left: 10px;
				transform: translateY(-50%) translateX(-130%);
			}

			.swiper-button-next {
				right: 10px;
				transform: translateY(-50%) translateX(130%);

				&:before {
					border-width: 0.6rem 0 0.6rem 0.4rem;
					border-color: transparent transparent transparent white;
				}
			}
		}

		.swiper-slide {
			text-align: center;
			font-size: 1.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.swiper-slide img {
			display: block;
			width: 100%;
			height: 22rem;
			object-fit: cover;
			border-radius: 0.8rem;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		}
	}
}

.modal-title {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.2rem;
}

// .modal-form {
//   margin-top: 2rem !important;
// }

.modal-price {
	color: #c3011c;
	font-size: 2rem;
	font-weight: 500;
}

// .modal-btn {
//   margin-top: 1rem;
//   padding: 2rem !important;
//   background-color: #c3011c !important;
//   color: white;
//   border: none;
//   border-radius: 0.5rem;
//   cursor: pointer;
//   display: flex !important;
//   justify-content: center !important;
//   align-items: center !important;
//   font-size: 2rem !important;
//   scale: 0.9 !important;
//   transition: all 0.5s ease-in-out !important;
//   &:hover {
//     scale: 1 !important;
//   }
// }

.option-content {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

.option-name {
	font-weight: 600;
	color: #333;
	font-size: 1.2rem;
}

.option-price {
	font-size: 1.4rem;
	color: #888;
	@media screen and (max-width: 768px) {
		font-size: 1.2rem;
	}
}
.icon-itemClick {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	@media screen and (max-width: 1200px) {
		width: 40px;
		height: 40px;
	}
	@media screen and (max-width: 992px) {
		width: 30px;
		height: 30px;
	}
}
.item-click-txt {
	font-size: 16px;
	font-weight: 500;
	color: #333;
	height: 40px;
	white-space: nowrap;
	@media screen and (max-width: 768px) {
		font-size: 13px;
		height: 30px;
	}
}
.item-click {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	height: auto;
	justify-content: center;
	border-radius: 0.8rem;
	transition: all 0.3s;
	@media screen and (max-width: 1200px) {
		padding: 2.4rem 0.4rem;
	}
	@media screen and (max-width: 992px) {
		padding: 1.8rem 0.2rem;
	}
	@media screen and (max-width: 768px) {
		padding: 0.5rem 0.1rem;
	}
}
.item-click:hover {
	cursor: pointer;
}
.list-item-click {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 0.5rem;
	@media screen and (max-width: 1200px) {
		grid-template-columns: repeat(5, 1fr);
		gap: 0.8rem;
	}
	@media screen and (max-width: 768px) {
		gap: 0.6rem;
		grid-template-columns: repeat(5, 1fr);
	}
	@media screen and (max-width: 600px) {
		gap: 0.3rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
.OldForNew-Section1-imageSliderBanner {
	width: 32vw;
	@media (max-width: 1000px) {
		width: 45vw;
	}
}
