.inner {
	position: relative;
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;

	.greeting {
		width: 600px;
		margin: auto;

		svg {
			position: absolute;
			z-index: 1;
		}

		.newyear1 {
			width: 100%;
			height: 140px;
			top: 65px;
			.anim1 {
				fill: none;
				stroke: #fdf030;
				stroke-linecap: round;
				stroke-miterlimit: 10;
				stroke-width: 10px;
				stroke-dasharray: 2824.187744140625;
				stroke-dashoffset: 2824.187744140625;
				animation: draw 2.7s linear 0.5s forwards;
			}
		}

		.newyear2 {
			width: 50%;
			margin: auto;
			height: 90px;
			top: 39%;
			left: 0;
			right: 0;
			@media only screen and (min-width: 680px) {
				width: 100%;
				height: 158px;
				top: 225px;
			}
			.anim2 {
				fill: none;
				stroke: #fdf030;
				stroke-linecap: round;
				stroke-miterlimit: 10;
				stroke-width: 10px;
				stroke-dasharray: 726.2219848632812;
				stroke-dashoffset: 726.2219848632812;
				animation: draw 1.2s linear 3.2s forwards;
			}
		}

		.underline {
			width: 88%;
			top: 170px;
			right: 0;
			width: 86%;
			@media only screen and (min-width: 680px) {
				top: 200px;
			}
			.underlineAnim {
				fill: none;
				stroke: #f5e020;
				stroke-linecap: round;
				stroke-miterlimit: 10;
				stroke-width: 10px;
				stroke-dasharray: 1452.0181884765625;
				stroke-dashoffset: 1452.0181884765625;
				animation: draw 0.4s linear 5.3s forwards;
			}
		}

		.shine {
			position: absolute;
			top: 20px;
			right: 0;
			left: 0;
			margin: auto;
			width: 100px;
			.shineAnim {
				fill: none;
				stroke: #fdf030;
				stroke-linecap: round;
				stroke-miterlimit: 10;
				stroke-width: 10px;
				stroke-dasharray: 441.998291015625;
				stroke-dashoffset: 441.998291015625;
				animation: draw 0.5s linear 4.6s forwards;
			}
		}

		@keyframes draw {
			to {
				stroke-dashoffset: 0;
			}
		}
	}

	.circles {
		.circle-l {
			height: 30px;
			width: 30px;
		}
		.circle-s {
			height: 12px;
			width: 12px;
		}
		.circle-l,
		.circle-s {
			background-color: #fdf030;
			border-radius: 50%;
			position: absolute;
			animation: scale 0.5s forwards ease-out;
			animation-iteration-count: 3;
			opacity: 0;

			&:nth-of-type(1) {
				left: 9%;
				top: 2%;
				animation-delay: 6s;
			}
			&:nth-of-type(2) {
				right: 10%;
				top: 10%;
				animation-delay: 6.2s;
			}
			&:nth-of-type(3) {
				left: 1%;
				top: 80%;
				animation-delay: 6.4s;
			}
			&:nth-of-type(4) {
				right: 30%;
				top: 95%;
				animation-delay: 6.7s;
			}
			&:nth-of-type(5) {
				right: 35%;
				top: 22%;
				animation-delay: 6.8s;
			}
			// &:nth-of-type(6) {
			// 	left: 16%;
			// 	top: 55%;
			// 	animation-delay: 7.1s;
			// }
			&:nth-of-type(7) {
				left: 27%;
				top: 16%;
				animation-delay: 6.7s;
			}
			&:nth-of-type(8) {
				right: 5%;
				bottom: 24%;
				animation-delay: 6.5s;
			}
			&:nth-of-type(9) {
				left: 25%;
				bottom: 2%;
				animation-delay: 6.3s;
			}
		}

		@keyframes scale {
			0% {
				opacity: 0;
				transform: scale3d(0, 0, 0);
			}
			100% {
				opacity: 1;
			}
		}
	}
}
