.page-flase-sale-tuan {
  overflow: hidden;
  position: relative;
  .sticky-category {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    width: 10% !important;
    bottom: 1.5rem;
    left: 0;
    z-index: 50;
    animation: slideIn 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.8s ease, transform 0.8s ease;

    @media screen and (max-width: 1440px) {
      top: 17.5rem;
    }

    &.hidden {
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
    }
    &.visible {
      animation: slideIn 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    .category-desktop {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      @media screen and (max-width: 1440px) {
        display: none;
      }
    }

    .category-mobile {
      display: none;
      width: 100%;
      background: #0979cb;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      text-align: center;
      @media screen and (max-width: 1440px) {
        display: flex;
        width: 100vw;
        font-size: 1.6rem;
        line-height: 1.4;
        justify-items: center;
        height: fit-content;
        padding: 1.4rem 0;
      }
    }
  }

  .category-item {
    padding: 1.2rem;
    border-radius: 0.375rem;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .category-name {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      position: relative;
      z-index: 2;
    }
    &.active {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #0979cb;
        z-index: 1;
        border-radius: 0.6rem;
        opacity: 1;
      }
    }
    &.default {
      background-color: #0979cb;
      opacity: 0.5;
    }
  }

  .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.active {
      transform: scale(1.1); // Enlarge the active item
      opacity: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url('../../../public/women-day/frame-category.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
      }

      .category-name {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        position: relative;
        z-index: 2;
      }
    }

    &.default {
      transform: scale(0.9); // Shrink the non-active items
      opacity: 0.5;
    }
  }
  .ghost1 {
    position: fixed;
    right: 0;
    top: 20vh;
    animation: wavyghost 16s infinite linear;
    z-index: 999;
    height: 10rem;
    width: fit-content;
    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  .ghost2 {
    position: fixed;
    right: 0;
    top: 70vh;
    animation: wavyghost reverse 13s infinite linear;
    z-index: 999;
    height: 10rem;
    width: fit-content;
    @media screen and (max-width: 850px) {
      display: none;
    }
  }
  .flash-sale-banner {
    position: fixed;
    right: 0;
    top: 20vh;
    opacity: 0.5;
    animation: wavyghost 16s infinite linear;
    z-index: 999;
    height: max-content;
    width: fit-content;
    img {
      width: 150px;
      height: 150px;
    }
    @media screen and (max-width: 850px) {
      display: none;
    }
  }
  .flash-sale-banner2 {
    position: fixed;
    right: 0;
    opacity: 0.5;
    top: 70vh;
    animation: wavyghost reverse 13s infinite linear;
    z-index: 999;
    height: max-content;
    width: fit-content;
    @media screen and (max-width: 850px) {
      display: none;
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
  @keyframes wavyghost {
    0% {
      transform: translate(0vw, 0vh) scale(1.5, 1.5);
    }
    20% {
      transform: translate(-20vw, 20vh) rotate(10deg);
    }
    40% {
      transform: translate(-40vw, 0vh) scale(1.5, 1.5);
    }
    60% {
      transform: translate(-60vw, -20vh) rotate(-10deg);
    }
    80% {
      transform: translate(-80vw, 0vh) scale(1.5, 1.5);
    }
    100% {
      transform: translate(-100vw, 20vh) rotate(10deg);
    }
  }
}
