.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.title {
  font-size: 40px;
  font-weight: 200px;
  padding: 20px 0;
  color: #000;
}
.grid {
  margin: 15px !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
  margin: 0 auto;
}
.selectedBox {
  box-shadow: 0px 0px 10px 5px rgba(0, 123, 255, 0.6); /* Tạo hiệu ứng đổ bóng xanh */
}
.bankCard {
  display: flex;
  align-items: center;
  width: 155px;
  height: 60px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .bankCard {
    width: 155px;
    height: 60px;
  }
}
/* .bankCard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */

.bankLogo {
  max-width: 100%;
  height: auto;
}

.paymentOptions {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.cardLogo {
  width: 80px;
  margin: 0 10px;
  cursor: pointer;
}

/* .cardLogo:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
} */
.Imageboder {
  margin-top: 20px;
  width: 155px;
  height: 60px;

  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub {
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media (max-width: 768px) {
  .title {
    font-size: 25px;
  }
}
.money {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-right-width: 2px;
  border-color: #f59e0b;
  width: 2rem;
  background-color: #fcd34d;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.inputMoney {
  color: #000;
  width: 50vw;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
@media (max-width: 768px) {
  .inputMoney {
    width: 100%;
  }
}
.btn_huongdan{
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffbb47;
  &:hover{
    border: 1px solid rgb(255, 99, 99);
    cursor: pointer;
  }
}