.BuyInInstallments-Section1-bg2 {
  display: none;
}
.BuyInInstallments-Section1-logo {
  width: 160px !important;
}
.BuyInInstallments-Section1-Container {
  background-color: #fff897;
  width: 1200px;
}
.BuyInInstallments-S1-Image {
  width: 49% !important;
  display: block;
  border-radius: 10px;
}
.BuyInInstallments-S1-ImageBG {
  width: 70vw !important;
  display: block;
  margin: auto;
}
@media (max-width: 900px) {
  .BuyInInstallments-S1-ImageBG {
    width: 95vw !important;
    display: block;
    margin: auto;
  }
}
.wrapper-banner2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.doublebanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 0 0;
  gap: 10px;
}
.bannerline1 {
  border: 1px solid #000;

  /* width: 45% !important; */
}
.bannerline2 {
  border: 1px solid #000;
  /* width: 45% !important; */
}
@media (max-width: 1000px) {
  .BuyInInstallments-Section1-bg2 {
    display: block;
  }
  .BuyInInstallments-Section1-bg1 {
    display: none;
  }
  .BuyInInstallments-Section1-Container {
    width: 80vw !important;
    overflow: hidden;
    margin: auto;
  }
  .BuyInInstallments-S1-Image {
    width: 35vw !important;
    display: block;
    /* margin: 10px 5vw auto auto; */
  }
}

@media (max-width: 768px) {
  .BuyInInstallments-Section1-Container {
    width: 100vw !important;
  }
  .bannerline1 {
    /* width: 30% !important; */
  }
  .bannerline2 {
    /* width: 30% !important; */
  }
  .BuyInInstallments-S1-Image {
    width: 45vw !important;
  }
}
