// @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&display=swap');
.timeline {
	background: #fef7d1 !important;
	padding: 0 !important;
	.HeaderHalloween-time-line-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2.4rem 0;
		// SCSS Styling
		.teacher-day-button {
			padding: 12px 24px;
			font-size: 16px;
			font-weight: bold;
			background-color: #ffda75; // warm orange
			color: #d04900;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			transition: all 0.3s ease;
			border: 2px #fff dashed;
			text-transform: uppercase;

			&:hover {
				background-color: #ffda75; // darker shade for hover effect
				box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
			}

			&:active {
				transform: scale(0.95);
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 3px rgba(245, 166, 35, 0.5);
			}
		}
	}

	.HeaderHalloween-time-line-card {
		width: 20rem;
		height: 17rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url('../../../../public/gratitude/table-teacher.png');
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		z-index: 10;

		@media screen and (max-width: 1200px) {
			height: 15rem;
		}
		@media screen and (max-width: 768px) {
			width: 14rem;
			height: 12rem;
		}
		@media screen and (max-width: 576px) {
			width: 10rem;
			height: 8rem;
		}
	}

	.HeaderHalloween-time-line-card-container {
		margin-bottom: 2.4rem;
	}

	.content-card {
		padding: 0 !important;
		display: block;
		margin-left: 0 !important;
		margin-bottom: 0 !important;

		@media screen and (max-width: 576px) {
			margin-left: 0;
		}
	}

	.HeaderHalloween-time-line-count {
		font-size: 3rem;
		font-weight: bold;
		color: #fff;
		text-align: center;
		margin-top: 0 !important;
		@media screen and (max-width: 1200px) {
			font-size: 2rem;
		}
		@media screen and (max-width: 768px) {
			font-size: 1.6rem;
		}
	}
	.HeaderHalloween-time-line-card-key {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		@media (max-width: 768px) {
			gap: 0px;
		}
	}
	.HeaderHalloween-time-line-subtext,
	.HeaderHalloween-time-line-subtext-small {
		margin-top: 0 !important; // mt-2
		text-align: center;
		font-weight: 500;
		font-size: 18px; // text-xs
		color: #fff; // amber-200
		@media screen and (max-width: 1200px) {
			font-size: 1.4rem;
		}
		@media screen and (max-width: 768px) {
			font-size: 1.2rem;
		}
		@media screen and (max-width: 576px) {
			font-size: 1rem;
		}
	}

	.HeaderHalloween-time-line-buttons {
		margin-top: 2rem; // mt-8
		display: flex;
		gap: 1rem; // space-x-4
	}

	.HeaderHalloween-time-line-btn {
		background-color: #fde68a; // bg-amber-200
		color: #78350f; // text-amber-900
		border-color: #78350f; // Matches the amber-900 border
		&:hover {
			background-color: #fcd34d; // hover:bg-amber-300
		}
	}
}

@keyframes gentleFlame {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
