.page-20-11 {
  overflow: hidden;
  position: relative;
  @keyframes falling {
    0% {
      opacity: 0;
      bottom: 100%;
      transform: translateX(0) rotate(-5deg);
    }
    10% {
      opacity: 0.5;
      bottom: 90%;
      transform: translateX(-30px) rotate(20deg);
    }
    20% {
      bottom: 80%;
      transform: translateX(40px) rotate(-30deg);
      opacity: 1;
    }
    30% {
      bottom: 70%;
      transform: translateX(-50px) rotate(25deg);
    }
    40% {
      bottom: 60%;
      transform: translateX(60px) rotate(-20deg);
    }
    50% {
      bottom: 50%;
      transform: translateX(-70px) rotate(35deg);
    }
    60% {
      bottom: 40%;
      transform: translateX(80px) rotate(-25deg);
    }
    70% {
      bottom: 30%;
      transform: translateX(-90px) rotate(30deg);
    }
    80% {
      bottom: 20%;
      transform: translateX(100px) rotate(-15deg);
    }
    90% {
      bottom: 10%;
      transform: translateX(-110px) rotate(10deg);
      opacity: 0.8;
    }
    100% {
      bottom: 0;
      transform: translateX(120px) rotate(35deg);
      opacity: 0;
    }
  }

  .book {
    position: fixed;
    z-index: 99;
    left: 10vw;
    width: 200px;
    height: 200px;
    display: block;
    animation: falling 15s infinite;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 1);
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .book2 {
    position: fixed;
    z-index: 99;
    right: 10vw;
    width: 200px;
    height: 200px;
    display: block;
    animation: falling 17s infinite;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 1);
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .leaf {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;

    @media (max-width: 1000px) {
      display: none;
    }
  }
  .leaf {
    img {
      opacity: 0.5;
      height: 100px;
      width: 100px;
    }
  }
  .leaf div {
    position: absolute;
    display: block;
  }
  .leaf div:nth-child(1) {
    left: 20%;
    animation: fall 10s infinite;
    animation-delay: -2s;
  }
  .leaf div:nth-child(2) {
    left: 70%;
    animation: fall 10s infinite;
    animation-delay: -4s;
  }
  .leaf div:nth-child(3) {
    left: 10%;
    animation: fall 10s infinite;
    animation-delay: -7s;
  }
  .leaf div:nth-child(4) {
    left: 50%;
    animation: fall 10s infinite;
    animation-delay: -5s;
  }
  .leaf div:nth-child(5) {
    left: 85%;
    animation: fall 10s infinite;
    animation-delay: -5s;
  }
  .leaf div:nth-child(6) {
    left: 15%;
    animation: fall 10s infinite;
    animation-delay: -10s;
  }
  .leaf div:nth-child(7) {
    left: 90%;
    animation: fall 10s infinite;
    animation-delay: -4s;
  }
  @keyframes fall {
    0% {
      opacity: 1;
      top: -10%;
      transform: translateX (20px) rotate(0deg);
    }
    20% {
      opacity: 0.8;
      transform: translateX (-20px) rotate(45deg);
    }
    40% {
      transform: translateX (-20px) rotate(90deg);
    }
    60% {
      transform: translateX (-20px) rotate(135deg);
    }
    80% {
      transform: translateX (-20px) rotate(180deg);
    }
    100% {
      top: 110%;
      transform: translateX (-20px) rotate(225deg);
    }
  }
  .leaf3 {
    transform: rotateX(180deg);
  }
}
.sticky-category {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  width: 10% !important;
  bottom: 1.5rem;
  left: 5%;
  z-index: 50;
  animation: slideIn 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.8s ease, transform 0.8s ease;

  @media screen and (max-width: 1440px) {
    top: 17.5rem;
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
  &.visible {
    animation: slideIn 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .category-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    @media screen and (max-width: 1440px) {
      display: none;
    }
  }

  .category-mobile {
    display: none;
    width: 100%;
    background: #0979cb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    @media screen and (max-width: 1440px) {
      display: flex;
      width: 100vw;
      font-size: 1.6rem;
      line-height: 1.4;
      justify-items: center;
      height: fit-content;
      padding: 1.4rem 0;
    }
  }
}

.category-item {
  padding: 1.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .category-name {
    color: #ef7f19;
    font-size: 1.4rem;
    font-weight: 700;
    position: relative;
    z-index: 2;
  }
  &.active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #ffff;
      z-index: 1;
      border-radius: 0.6rem;
      opacity: 1;
    }
  }
  &.default {
    background-color: #ffff;
    opacity: 0.5;
  }
}

.swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.active {
    transform: scale(1.1); // Enlarge the active item
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-image: url('../../../public/women-day/frame-category.png');
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .category-name {
      color: #ef7f19;
      font-size: 1.4rem;
      font-weight: 700;
      position: relative;
      z-index: 2;
    }
  }

  &.default {
    transform: scale(0.9); // Shrink the non-active items
    opacity: 0.5;
  }
}
