.infoTechnical {
  padding-top: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  padding: 20px 0 0;
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.productList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.productItem {
  width: 20%;
  margin-bottom: 20px;
}
.scrollIndicator {
  position: absolute;
  padding: 10px;
  z-index: 100;
  color: #fff;
  bottom: 20%;
  right: 0;
}

.arrow {
  font-size: 24px;
  margin-right: 10px;
}

.text {
  font-size: 14px;
}
.productListMB {
  width: 100%;
  display: none;
}
.title {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 153, 0, 0.8), 0 0 30px rgba(255, 153, 0, 0.6),
    0 0 40px rgba(255, 153, 0, 0.4), 0 0 50px rgba(255, 153, 0, 0.3);
  background-color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .productListMB {
    display: block;
  }
  .productList {
    display: none !important;
  }
  .productList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: unset;
  }

  .productItem {
    flex: 0 0 45vw;
    scroll-snap-align: start;
    margin-right: 5vw;
    width: 70vw;
  }

  .productItem:last-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .productList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: unset;
  }

  .productItem {
    flex: 0 0 48vw;
    scroll-snap-align: start;
    margin-right: 5vw;
    width: 70vw;
  }

  .productItem:last-child {
    margin-right: 0;
  }
}
